body {
    overflow: hidden;
    position: relative;
}

header {
    color: #fff;
    background-color: transparent;
    z-index: 100;
    filter: invert(100%);
}

main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

main div {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bgImage {
    position: absolute;
    top: 0;
    z-index: -999;
    filter: blur(5px);
    transform: translate(0, -200px);
}

#logo {
    width: 800px;
    transform: translate(0, -50px);
}