main {
    background-color: #f9f9f9;
    font-size: 50px;
    height: auto;
}


/* hero */

#hero {
    min-height: 90vh;
    height: auto;
}

#bg-hero {
    min-height: 40vw;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

#bg-hero span {
    height: 20vw;
    width: 100%;
    background-color: #e5e5e5;
    z-index: -1;
}

#bg-hero h2 {
    font-family: 'camptonBoIt';
    padding: 0;
    margin: 0;
    letter-spacing: 5px;
    position: absolute;
    top: 12vw;
}

#bg-hero h1 {
    font-family: 'camptonBlIt';
    padding: 0;
    margin: 0;
    letter-spacing: 5px;
    position: absolute;
    top: 18vw;
}

#bg-hero img {
    position: absolute;
    bottom: -50px;
    z-index: -10;
}